#include "resource.h"
#include <windows.h>
#include <commctrl.h>

IDD_FAUST_PLUGIN DIALOGEX 0, 0, 400, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Enter FAUST Code:", -1, 10,10,100,10
    EDITTEXT        IDC_CODE_EDITOR, 10,25, 380,150,
                    ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_BORDER | WS_TABSTOP
    PUSHBUTTON      "Preview", IDC_BUTTON_PREVIEW, 10, 185, 80, 20
    PUSHBUTTON      "Build", IDC_BUTTON_BUILD, 100, 185, 80, 20
    LTEXT           "Audio Input:", -1, 210, 13, 70, 10
    COMBOBOX        IDC_AUDIO_INPUT_COMBO, 280, 10, 110, 100,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Project Files:", -1, 395, 13, 70, 10
    PUSHBUTTON      "+", IDC_NEW_PROJECT_FILE, 445, 10, 20, 14
    PUSHBUTTON      "~", IDC_RENAME_PROJECT_FILE, 465, 10, 20, 14
    PUSHBUTTON      "-", IDC_DELETE_PROJECT_FILE, 485, 10, 20, 14
    COMBOBOX        IDC_PROJECT_FILES_COMBO, 395, 30, 110, 100,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Export", IDC_BUTTON_EXPORT, 190, 185, 80, 20
    CONTROL         "Save DSP Code", IDC_CHECK_SAVE_DSP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 395, 165, 70, 12
    PUSHBUTTON      "Docs", IDC_BUTTON_DOCS, 280, 185, 80, 20
    CONTROL         "Double Precision", IDC_CHECK_DOUBLE_PRECISION, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 395, 150, 90, 12
    CONTROL         "Out-of-place", IDC_CHECK_OUT_OF_PLACE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 395, 135, 90, 12

END

