dox/*
build*
*~
compile.sh
*.aux
*.log
*.out
*.rai
*.rao
*.toc
*.o
*.mxo
*.bak
*.app
.DS_Store
*tmp*
*dir*
windows/_output/
windows/.vs/
windows/*.*db
windows/*.user
*.opensdf
*.sdf
compiler/faust
### VSCode cache
.*.VC.db
### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
