dox/*
build/xcode/*
build/bin/*
build/lib/*
build/cmake-build-*
*~
compile.sh
*.aux
*.log
*.out
*.rai
*.rao
*.toc
*.o
*.mxo
*.bak
*.app
.DS_Store
*tmp*
*dir
windows/_output/
windows/.vs/
windows/*.*db
windows/*.user
*.opensdf
*.sdf
compiler/faust
user.mk
### VSCode cache
.*.VC.db
.vscode/
### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
tests/impulse-tests/ir
### ESLint
.eslintrc.json
*-mdoc
*-svg
### Intellij IDEs
.idea/
### Pyenv
.python-version
architecture/clap/FaustDynamic.clap
build/dattorro/dattorro_clap.cpp
build/dattorro/plugin_metadata.h
examples/reverb/dattorro.dsp.json
tools/faust2clap/build/clap-helpers/cmake_install.cmake
tools/faust2clap/build/clap-helpers/CMakeFiles/CMakeDirectoryInformation.cmake
tools/faust2clap/build/clap-helpers/CMakeFiles/progress.marks
tools/faust2clap/build/clap-helpers/Makefile
tools/faust2clap/build/clap-sdk/clap-config-version.cmake
tools/faust2clap/build/clap-sdk/clap.pc
tools/faust2clap/build/clap-sdk/cmake_install.cmake
tools/faust2clap/build/clap-sdk/CMakeFiles/CMakeDirectoryInformation.cmake
tools/faust2clap/build/clap-sdk/CMakeFiles/Export/0799b36fd95976e47fed8257dc9b6298/clap-config.cmake
tools/faust2clap/build/clap-sdk/CMakeFiles/progress.marks
tools/faust2clap/build/clap-sdk/CTestTestfile.cmake
tools/faust2clap/build/clap-sdk/Makefile
tools/faust2clap/build/cmake_install.cmake
tools/faust2clap/build/CMakeCache.txt
tools/faust2clap/build/CMakeFiles/3.30.5/CMakeCCompiler.cmake
tools/faust2clap/build/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
tools/faust2clap/build/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
tools/faust2clap/build/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
tools/faust2clap/build/CMakeFiles/3.30.5/CMakeSystem.cmake
tools/faust2clap/build/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
tools/faust2clap/build/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
tools/faust2clap/build/CMakeFiles/cmake.check_cache
tools/faust2clap/build/CMakeFiles/CMakeConfigureLog.yaml
tools/faust2clap/build/CMakeFiles/CMakeDirectoryInformation.cmake
tools/faust2clap/build/CMakeFiles/Makefile.cmake
tools/faust2clap/build/CMakeFiles/Makefile2
tools/faust2clap/build/CMakeFiles/progress.marks
tools/faust2clap/build/CMakeFiles/TargetDirectories.txt
tools/faust2clap/build/dattorro.clap/Contents/Info.plist
tools/faust2clap/build/dattorro.clap/Contents/MacOS/dattorro
tools/faust2clap/build/dattorro.plist
tools/faust2clap/build/gain.clap/Contents/Info.plist
tools/faust2clap/build/gain.clap/Contents/MacOS/gain
tools/faust2clap/build/gain.plist
tools/faust2clap/build/libfaust_gui_glue.a
tools/faust2clap/build/Makefile
tools/faust2clap/build/sawtoothLab.clap/Contents/Info.plist
tools/faust2clap/build/sawtoothLab.clap/Contents/MacOS/sawtoothLab
tools/faust2clap/build/sawtoothLab.plist
architecture/clap/FaustDynamic.clap
architecture/clap/FaustDynamic.clap
architecture/clap/FaustDynamic.clap
*.cpp
build/freeverb/plugin_metadata.h
build/phaser/plugin_metadata.h
build/sawtoothLab/plugin_metadata.h
build/sawtoothLab/sawtoothLab_clap.cpp
build/smoothDelay/plugin_metadata.h
examples/delayEcho/smoothDelay.dsp.json
examples/generator/sawtoothLab.dsp.json
examples/phasing/phaser.dsp.json
examples/reverb/freeverb.dsp.json
tools/faust2clap/build/freeverb.clap/Contents/Info.plist
tools/faust2clap/build/freeverb.clap/Contents/MacOS/freeverb
tools/faust2clap/build/freeverb.plist
tools/faust2clap/build/phaser.clap/Contents/Info.plist
tools/faust2clap/build/phaser.clap/Contents/MacOS/phaser
tools/faust2clap/build/phaser.plist
tools/faust2clap/build/smoothDelay.clap/Contents/Info.plist
tools/faust2clap/build/smoothDelay.clap/Contents/MacOS/smoothDelay
tools/faust2clap/build/smoothDelay.plist
build/sawtoothLab/plugin_metadata.h
build/sawtoothLab/sawtoothLab_clap.cpp
examples/generator/sawtoothLab.dsp.json
architecture/clap/FaustDynamic.clap
build/sawtoothLab/plugin_metadata.h
build/sawtoothLab/sawtoothLab_clap.cpp
examples/generator/sawtoothLab.dsp.json
architecture/clap/efsw/
