[submodule "libraries"]
	path = libraries
	url = https://github.com/grame-cncm/faustlibraries.git
[submodule "architecture/android/app/oboe"]
	path = architecture/android/app/oboe
	url = https://github.com/google/oboe
[submodule "architecture/smartKeyboard/android/app/oboe"]
	path = architecture/smartKeyboard/android/app/oboe
	url = https://github.com/google/oboe
[submodule "tools/faust2ck"]
	path = tools/faust2ck
	url = https://github.com/ccrma/faust2ck
[submodule "architecture/max-msp/py2max"]
	path = architecture/max-msp/py2max
	url = https://github.com/shakfu/py2max.git
[submodule "tools/physicalModeling/mesh2faust/spectra"]
	path = tools/physicalModeling/mesh2faust/spectra
	url = https://github.com/yixuan/spectra.git
