
sudo: required
dist: trusty
language: cpp

matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
            - libmicrohttpd-dev
      env:
         - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"

before_install:
    - eval "${MATRIX_EVAL}"
  
branches:
  only:
  - master-dev

script: 
  - make JOBS="-j 2"
  # Do also some impulse response tests
  - make -C tests/impulse-tests travis -j 2

