/* main.css */

/*	---------------------------------------------------------------------------
 *	:: Type
 *
 *  - Fonts
 *	- Base
 *	- Links
 *	-------------------------------------------------------------------------*/

div.equiButton {
	position:fixed;
	color: white;
	bottom: 2px;
	right: 120px;
	text-align: center;
	
/* 	background: url('../img/ico-plus.png') .9em 50% no-repeat #fff; */
/* 	background-color : #FF4901; */
	background-color: #FCD21C;

/* 	background : qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 , stop: 1 #22427C); */
	border-radius: 5px;
	color: #4c4c4c;
/* 	display: block; */
	font-size: 1em; /* 11 / 16 */
/* 	padding: .1em 1em .1em .15em; */
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
	text-transform: uppercase;
}

div.link {
	position:fixed;
	font-style: italic;
	color: lightgrey;
	bottom: 0px;
	left: 20px;
}

div.link a {
	color: white;
	font: inherit;
	text-decoration: underline;
}

/* Fonts */
@font-face {
    font-family: 'ProximaNovaRgRegular';
    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_reg-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Base */
html,
button,
input,
select,
textarea {
	font-family: 'ProximaNovaRgRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4c4c4c;
}
body {
	font-size: 1em;
	line-height: 1.4;
}

/* Links */
a,
a:visited {
	color: #4c4c4c;
	font-size: .6875em; /* 11 / 16 */
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}


/*	---------------------------------------------------------------------------
 *	:: Raw elements
 *	-------------------------------------------------------------------------*/
body {
	background: url('../img/body-bkg.gif');
}


/*	---------------------------------------------------------------------------
 *	:: Main
 *
 *	- Header
 *	- Nav
 *  - Controls
 *  - Dropdown
 *  - Dropdown arrow
 *  - Modules
 *	-------------------------------------------------------------------------*/
#main {
	padding-right: 106px;
	position: relative;
	z-index: 1;
}

/* Header */
#header {
	margin: 0;
	padding: 2em 0 0 2em;	
}

/* Nav */
#nav {
	margin: 0 0 1.3em;
	padding: 1.3em 0 0 2em;
}

/* Controls */
#controls {
	list-style: none;
	margin: 0;
	padding: 0;
}
#controls li {
	float: left;
	margin-right: .8em;
	position: relative;
}
#controls a {
	background: url('../img/ico-plus.png') .9em 50% no-repeat #fff;
	border-radius: 5px;
	color: #4c4c4c;
	display: block;
	font-size: .625em; /* 11 / 16 */
	padding: .5em 1em .4em 2.6em;
	text-transform: uppercase;
	-webkit-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;
}

/* Dropdown */
#controls .sub-menu {
	display: none;
	left: 0;
	padding-top: 8px;
	position: absolute;
	z-index: 1000;
}
#controls ul {
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	list-style: none;
	margin: 0;
	padding: .2em 0;
	position: relative;
}
#controls ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#controls ul a {
	background: none;
	background-image: none;
	border-radius: 0;
	padding: .5em 1em .4em;
	white-space: nowrap;
}
#controls ul a:hover {
	background-color: #dbdbdb;
}
#controls li:hover .sub-menu {
	display: block;
}

/* Dropdown arrow */
#controls ul:after,
#controls ul:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#controls ul:after {
	border-bottom-color: #ffffff;
	border-width: 8px;
	left: 20%;
	margin-left: -8px;
}
#controls ul:before {
	border-bottom-color: #aaa;
	border-width: 9px;
	left: 20%;
	margin-left: -9px;
}

/* Modules */
#modules {
	padding-left: 2em;
}

/*	---------------------------------------------------------------------------
 *	:: Output
 *	-------------------------------------------------------------------------*/
#output {
	background:
		url('../img/ico-speaker.png') 50% 50% no-repeat,
		url('../img/output-bkg.gif') 0 0 repeat;
	border-left: 1px solid #363636;
	box-shadow: 0 0 3px rgba(0,0,0, .4);
	bottom: 0;
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 105px;
	z-index: 100;
}
#output .node {
	left: -18px;
	margin-top: -11px;
	position: absolute;
	top: 50%;
}


/*	---------------------------------------------------------------------------
 *	:: Global classes and styles
 *
 *	- Clearfix
 *	- Nodes
 *	- Modules
 *	- Module nodes
 *	- Module close
 *	- Module footer
 *	- Control group
 *	- Slider
 *	-------------------------------------------------------------------------*/

/* Clearfix */
.container:before, .container:after { content: ""; display: table; }
.container:after { clear: both; }
.container { *zoom: 1; }

/* Nodes */
.node {
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 3px rgba(0,0,0, .5);
	cursor: pointer;
	height: 34px;
	position: relative;
	width: 34px;
}
.node span {
	border-radius: 50%;
	display: block;
	height: 24px;
	left: 5px;
	position: absolute;
	top: 5px;
	width: 24px;
}
.node-input span {
	background: #67a90d;
}
.node-output span {
	background: #ec2f13;
}
.node:hover {
	box-shadow: 0 0 3px rgba(0,0,0, 1);
}

/* Modules */
.module {
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: inline-block;
	position: absolute;
}
.module .content {
	background: #fff;
	border-radius: 5px;
	min-width: 10em;
	overflow: hidden;
	padding: 1em 1.25em 1.25em 1.25em;
	position: relative;
}
.module .content img {
	display: block;
	margin: 0 auto;
}
.module.has-footer .content {
	border-bottom: 1px solid #dbdbdb;
	border-radius: 5px 5px 0 0;
}
.module h6 {
	font-size: .75em;
	margin: 0 0 1em;
	text-align: center;
	text-transform: uppercase;
}

/* Module nodes */
.module .node {
	position: absolute;
	margin-top: -16px;
	top: 50%;
}
.module .node-input {
	left: -18px;
}
.module .node-output {
	right: -18px;
}

/* Module close */
.module .close {
	background: url('../img/ico-close.gif') 0 0 no-repeat;
	height: 8px;
	text-indent: -999em;
	position: absolute;
	right: 8px;
	top: 8px;
	width: 9px;
}
.module .close:hover {
	opacity: .8
}

.module.analyzer {
}

/* Module footer */
.module footer {
	background-color: #fff;
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(219, 219, 219));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(219, 219, 219));
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	padding: 0em .4em .1em;	
}
.module footer select {
	background: url('../img/ico-arrow.png') 100% 50% no-repeat;
	border: none;
	box-sizing: border-box;
	cursor: default;
	font-family: 'Droid Serif', Georgia, serif;
	font-size: .625em;
	font-style: italic;
	outline: none;
	white-space: pre;
	width: 100%;
	-webkit-appearance: none;
	-webkit-box-align: center;
}
.module.has-loop footer select {
	width: 70%;
}
.module footer .loop {
	border-left: 1px solid #dbdbdb;
	display: inline;
	float: right;
	font-size: .625em;
	padding: .4em 0 .4em .6em;
	text-transform: uppercase;
	width: 23%;
}

/* Control group */
.control-group {
	margin: 0 0 1.2em;
}
.control-group.last {
	margin: 0;
}

.control-group:last-of-type {
	margin: 0;
}

.control-group.disabled .slider-info {
	color: #e0e0e0;
}
/* Slider */
.slider-info {
	font-size: .625em; /* 10 / 16 */
	margin-bottom: 1em;
	overflow: hidden;
	padding-bottom: .4em;
	position: relative;
}
.slider-info .label {
	display: inline;
	float: left;
	text-transform: uppercase;
	width: 49%;
}
.slider-info .value {
	display: inline;
	float: right;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
	width: 49%;
}
.module .slider-info:last-child {
	margin-bottom: 0;
}

.ui-slider {
	background: url('../img/slider-bkg.gif') 0 0 repeat-x;
	border: 0 none;
	color: #fff;
	height: 11px;
	position: relative;
	text-align: left;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: #f6f6f6;
	font-weight: bold;
	color: #1c94c4;
}
.ui-slider .ui-slider-handle {
	background: url('../img/slider-handle.png') 0 1px no-repeat;
	border: 0 none;
	cursor: default;
	height: 18px;
	margin-left: -.6em;
	position: absolute;
	top: -.3em;
	width: 16px;
	z-index: 2;
}
.ui-slider .ui-slider-range {
	background-position: 0 0;
	border: 0;
	display: block;
	font-size: .7em;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}
.ui-slider .ui-slider-range-min {
	left: 0;
}
.ui-slider .ui-slider-range-max {
	right: 0;
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: #303030;
	height: 2px;
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 20px;
	height: 20px;
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7373), color-stop(50%,#a00000), color-stop(51%,#700000), color-stop(100%,#ff7373));
}
