'.source.faust':
  'import':
    'prefix': 'import'
    'body': 'import("${1:name}.lib");$0'
  'import stdfaust.lib':
    'prefix': 'import stdfaust.lib'
    'body': 'import("stdfaust.lib");$0'
  'import all.lib':
    'prefix': 'import all.lib'
    'body': 'import("all.lib");$0'
  'library':
    'prefix': 'library'
    'body': 'library("${1:name}.lib")$0'
  'component':
    'prefix': 'component'
    'body': 'component("${1:name}.lib")$0'
  'process':
    'prefix': 'process'
    'body': "process = ${1:expression};$0"
  'definition':
    'prefix': 'def'
    'body': "${1:name} = ${2:expression};$0"
  'hslider':
    'prefix': 'hslider'
    'body': 'hslider("${1:title}",${2:default},${3:min},${4:max},${5:step})$0'
  'vslider':
    'prefix': 'vslider'
    'body': 'vslider("${1:title}",${2:default},${3:min},${4:max},${5:step})$0'
  'button':
    'prefix': 'button'
    'body': 'button("${1:title}")$0'
  'checkbox':
    'prefix': 'checkbox'
    'body': 'checkbox("${1:title}")$0'
  'hbargraph':
    'prefix': 'hbargraph'
    'body': 'hbargraph("${1:title}",${2:min},${3:max})$0'
  'vbargraph':
    'prefix': 'vbargraph'
    'body': 'vbargraph("${1:title}",${2:min},${3:max})$0'
  'environment':
    'prefix': 'environment'
    'body': 'environment {${1:definitions};}$0'
  'with':
    'prefix': 'with'
    'body': """
    	with {
    		${1:name} = ${2:definition};$0
    	}
    """
  'doc':
    'prefix': 'doc'
    'body':"""
        //--------------- ${1:func} ----------------
        // ${2:presentation}
        //
        // ### Usage:
        //    `${3:example}`
        //
        // #### Where:
        // + ${4:arg1} = ${5:role and value}
        //
        //------------------------------------------
    """
