body {
  background-image : url(background.svg);
}

path.faust-vbox {
  fill : white;
  stroke : black;
}

path.faust-rbutton-joint {
  fill : rgb(152,251,152);
  stroke : black;
}

path.faust-rbutton-knob {
  fill : grey;
  stroke : black;
}

path.faust-slider-joint {
  fill : rgb(233,150,122);
  stroke : black;
}

path.faust-slider-knob {
  fill : grey;
  stroke : black;
}

path.faust-bargraph-joint {
  fill : rgb(0,255,255);
  stroke : black;
}

path.faust-bargraph-meter {
  fill : grey;
  stroke : black;
}

path.faust-checkbox-box {
  fill : white;
  stroke : black;
}

path.faust-checkbox-check {
  fill : black;
  stroke : black;
}

path.faust-nentry-button {
  fill : grey;
  stroke : black;
}

path.faust-nentry-operation {
  stroke : black;
}

path.faust-button-down {
  fill : rgb(233,150,122);
  stroke : black;
}

path.faust-button-up {
  fill : rgb(173,255,47);
  stroke : black;
}

// hack for mobile devices
input[type='text'],input[type='number'],textarea {font-size:16px;}