<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faust"
    android:versionCode="6"
    android:versionName="1.5" >

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.faust.FaustActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.faust.PianoActivity"
            android:label="@string/keyboard_activity"
            android:parentActivityName="com.faust.FaustActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faust.FaustActivity" />
        </activity>
        <activity
            android:name="com.faust.MultiActivity"
            android:label="@string/multi_activity"
            android:parentActivityName="com.faust.FaustActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faust.FaustActivity" />
        </activity>
        <activity
            android:name="com.faust.MultiKeyboardActivity"
            android:label="@string/multi_keyboard_activity"
            android:parentActivityName="com.faust.FaustActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faust.FaustActivity" />
        </activity>
     </application>

</manifest>
