#bubble{
	
	background: url('../img/output-bkg.gif') 0 0 repeat;
	color:white;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: 'Droid Serif', Georgia, serif; 
 	top:20%;
  	left:40%;
 	border-radius: 30%;
    border: 3px solid black;
}

#exportName{
	color:black;
}

#sceneSubtitle{
	color:black;
}

#androidImg{
	position:relative; 
	left:49%;
}

#backImg{
	position:absolute; 
	top:2%; 
	left:2%;
}

#androidButton{
	position:absolute; 
	left:43%; 
	top:25%;
}