
#library {
	background:orange;
	height: 85%;
	position: fixed;
	left: 0%;
	top: 0%;
	bottom: 15%;
	z-index: 1;
	font-size : 14px;
	color:white;
	text-align:center;
	padding:0.5em 0.5em 0.5em 0.5em;
	overflow-y: auto;
	overflow-x: hidden;
}

#library .space{
	height: 70px;
}

#library.link a {
	color: white;
	font: inherit;
	text-decoration: underline;
}

#library li.sections{
 color: black;
 display : list-item;
 text-align:left;
 font-size:18px;
} 

#library .title{

	text-align:left;
	color:black;
	writing-mode:tb-rl;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
	display:block;
	position: relative;
	top:50%;
	right:250%;
	width:300px;
	font-size:20px;
	z-index:2;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}