/* main.css */

/*	---------------------------------------------------------------------------
 *	:: Type
 *
 *  - Fonts
 *	- Base
 *	- Links
 *	-------------------------------------------------------------------------*/
 
/* Fonts */
@font-face {
/*     font-family: 'ProximaNovaRgRegular'; */
    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_reg-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

div.link {
	position:absolute;
	font-style: italic;
	font-size:13px;
	color: black;
	bottom: 0px;
/* 	right: 10px; */
}

div.link a {
	color: white;
	font: inherit;
	text-decoration: underline;
}

line {
	z-index:5;
}


/* Base */
html,
button,
input,
select,
textarea {
/* 	font-family: 'ProximaNovaRgRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	color: #4c4c4c;
}
body {
	font-size: 1em;
	line-height: 1.4;
}

/* Links */
a,
a:visited {
	color: #4c4c4c;
	font-size: .6875em; /* 11 / 16 */
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}

/*	---------------------------------------------------------------------------
 *	:: Raw elements
 *	-------------------------------------------------------------------------*/
body {
	background: url('../img/body-bkg.gif');
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
	font-family: 'ProximaNovaRgRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;	
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#footer{
	background-color:DarkGray ;
	position: fixed;
	bottom:0%;
	width:100%;
	height:15%;
	z-index: 5;
}

.grayButton {
/* 	position:relative; */
/* 	top: 20%; */
/* 
	margin-left:auto;
	margin-right:auto;
 */
	text-align: center;
/* 	width: 300px; */
/* 	background-color: orange; */
	border: solid black 2px;
	border-radius: 5px;
	color: #4c4c4c;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
	text-transform: uppercase;
	font-size:20px;
	box-shadow: 2px 2px 2px 2px black;
}

#footer .logoGrame {
	position:absolute;
	top: 20%;
	left:5px;;
}

/*	---------------------------------------------------------------------------
 *	:: Main
 *
 *	- Header
 *	- Nav
 *  - Controls
 *  - Dropdown
 *  - Dropdown arrow
 *  - Modules
 *	-------------------------------------------------------------------------*/
#main {
	padding-right: 106px;
	position: relative;
	z-index: 1;
}

/* Header */
#header {
	margin: 0;
	padding: 2em 0 0 2em;	
/* 	left:250px%; */
/* 	right:250px%; */
	z-index:0;
	color:white;
	text-align:center;
	font-size:13.5px;
	position:absolute;
	top:1%;
	width:95%;
}

#upload{
	color:white;
	text-align:center;
/* 	font-family: 'Droid Serif', Georgia, serif;  */
	font-size:20px;
	background-color:transparent;
	z-index:0;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.number{
	background:transparent;
	color: white;
/* 	font-family: 'Droid Serif', Georgia, serif;  */
	border: solid white 1px;
	border-radius: 50%;
	width:20px;
	left:0px;
	text-align:center;
	padding:0.2em 0.5em 0.2em 0.5em;
	margin:0.1em 1em 0.1em 0.1em;
}

