
.inputconnector {
		position: absolute;
		left:-12px; top:75px;
		width:10px; height:10px;
		border:5px solid red;
		border-radius: 10px;
		background: gray;
}

.inputconnector.connected, .outputconnector.connected { background: lightgreen }
.inputconnector.canConnect, .outputconnector.canConnect { background: pink }

.outputconnector {
		position: absolute;
		right:-12px; top:75px;
		width:10px; height:10px;
		border:5px solid green;
		border-radius: 10px;
		background: gray;
}

.dialcontrol {
	position: absolute;
}

/* #code { font: 10pt Courier New, fixed; } */

/*	---------------------------------------------------------------------------
 *	:: Input
 *	-------------------------------------------------------------------------*/
#input {
	background:
		url('../img/ico-speaker.png') 50% 50% no-repeat,
		url('../img/output-bkg.gif') 0 0 repeat;
	border-left: 1px solid #363636;
	box-shadow: 0 0 3px rgba(0,0,0, .4);
	bottom: 0;
	display: block;
	height: 100%;
	position: fixed;
	padding-right:20px;
	padding-left:20px;
	left: 0;
	width: 8%;
	z-index: 1;
}

#input .node {
	right: -18px;
	margin-top: -11px;
	position: absolute;
	top: 50%;
}

.text{
	
	position:relative;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:19px;
	background-color:transparent;
	top: 60%;
    left:10%;
}


/*	---------------------------------------------------------------------------
 *	:: Output
 *	-------------------------------------------------------------------------*/
#sceneOutput {
	background:
		url('../img/ico-speaker.png') 50% 50% no-repeat,
		url('../img/output-bkg.gif') 0 0 repeat;
	box-shadow: 0 0 3px rgba(0,0,0, .4);
	bottom: 0;
	display: block;
	height: 100%;
	position: fixed;
	padding-right:20px;
	padding-left:20px;
	right: 0%;
	top: 0%;
	width: 15%;
	z-index: 4;
}


#sceneOutput .node {
	left: -18px;
	margin-top: -11px;
	position: absolute;
	top: 50%;
}

#sceneOutput .export-title {
	color: black;	
	font-size: 20px;
	text-align:center;
	font-size: 14px;
	margin: 0 0 1em;
	text-align: center;
	text-transform: uppercase;
}

#sceneOutput .architectures, #sceneOutput .platforms{
	width: 100%; 
}

#sceneOutput .qrcodeDiv{
	position: fixed; 
	bottom: 2px;
}

#sceneOutput .exportButton{
	position: fixed;
	right: 60px;
}


