#svgCanvas{
	position:absolute; 
	width:100%; 
	height:100%; 
	top:0; 
	left:0; 
	z-index:-1;
}

#exportButton{
	position: relative; 
	width: 300px; 
	top:20%; 
	left:35%;
}

#subtitleButton{
	font-size:11px;
}