.sceneTitle{
	color:white;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:36px;
	top:10px;
	background-color:transparent;
	z-index:0;
}

.sceneTitle:focus { 
	outline: 0px solid transparent; 
}

.sceneSubtitle{
	color:white;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	text-align:center;
	font-size:18px;
	background-color:transparent;
	z-index:1;
}

/* 
.grayButton {
	position:fixed;
	color: white;
	bottom: 2px;
	right: 200px;
	text-align: center;
	background-color: #FCD21C;
	border-radius: 5px;
	color: #4c4c4c;
	font-size: 1em;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
	text-transform: uppercase;
	font-size:20px;
}
 */

.orangeButton {

	position:relative;
	text-align: center;
	background-color: orange;
	border-radius: 5px;
	color: #4c4c4c;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 15px;
	text-transform: uppercase;
	font-size:20px;
	width: 100px;
	margin-left:auto; 
	margin-right:auto;
	top:200px;
	box-shadow: 2px 2px 2px 2px black;
}