<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>process</string>
		<string>declare</string>
		<string>with</string>
		<string>component</string>
		<string>library</string>
		<string>environment</string>
		<string>case</string>
		<string>seq</string>
		<string>par</string>
		<string>sum</string>
		<string>prod</string>
		<string>import</string>
		<string>mem</string>
		<string>prefix</string>
		<string>int</string>
		<string>float</string>
		<string>rdtable</string>
		<string>rwtable</string>
		<string>select2</string>
		<string>select3</string>
		<string>ffunction</string>
		<string>fconstant</string>
		<string>fvariable</string>
		<string>button</string>
		<string>checkbox</string>
		<string>vslider</string>
		<string>hslider</string>
		<string>nentry</string>
		<string>vgroup</string>
		<string>hgroup</string>
		<string>tgroup</string>
		<string>vbargraph</string>
		<string>hbargraph</string>
		<string>attach</string>
		<string>acos</string>
		<string>asin</string>
		<string>atan</string>
		<string>atan2</string>
		<string>cos</string>
		<string>sin</string>
		<string>tan</string>
		<string>exp</string>
		<string>log</string>
		<string>log10</string>
		<string>pow</string>
		<string>sqrt</string>
		<string>abs</string>
		<string>min</string>
		<string>max</string>
		<string>fmod</string>
		<string>remainder</string>
		<string>floor</string>
		<string>ceil</string>
		<string>rint</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>FAUS</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Faust</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.lib</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.dsp</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string>*/</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Close Statement Blocks</key>
		<string>}</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 2</key>
		<string></string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
		<key>End-of-line Ends Strings 2</key>
		<true/>
		<key>Escape Char in Strings 1</key>
		<string></string>
		<key>Escape Char in Strings 2</key>
		<string></string>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz</string>
		<key>Open Block Comments</key>
		<string>/*</string>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Open Strings 2</key>
		<string></string>
		<key>Prefix for Functions</key>
		<string></string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
</dict>
</plist>
