<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleIdentifier</key>
	<string>@BUNDLEIDENTIFIER@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleLongVersionString</key>
	<string></string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>DSP input signal</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2019 Grame</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>UILaunchImageFile</key>
	<string></string>
</dict>
</plist>
