.navbar-brand{
  margin-right: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer-content{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.copyright{
  text-align: center;
}

.faust-doc {
  height: 100vh;
}

.faust-doc-content {
  padding-top:8rem;
  padding-right:0rem!important;
}

ul {
  padding-left: 1rem;
}

/* TODO: not sure why this needs to be done */
pre {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 0.5rem;
}

#TOC {
  background-color: #f5f5f5;
}

