# This is a basic workflow to help you get started with Actions

name: Windows

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the dev branch
  push:
    branches: 
        - master
        - master-dev
  pull_request:
    branches: [ master-dev ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1

      - name: Get latest CMake and ninja
        uses: lukka/get-cmake@latest

      - name: Build Faust
        run: |
          make -C build cmake BACKENDS=regular.cmake TARGETS=win-ci.cmake
          make -C build
