<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.REP"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.REP.faustApp"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.REP.DisplayWelcomeActivity"
            android:label="@string/title_activity_display_welcome"
            android:screenOrientation="portrait"
            android:parentActivityName="com.REP.faustApp" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.REP.faustApp" />
        </activity>
        <activity
            android:name="com.REP.Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:parentActivityName="com.REP.faustApp" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.REP.faustApp" />
        </activity>
        <activity
            android:name="com.REP.AudioSettings"
            android:label="@string/title_activity_audio_settings"
            android:screenOrientation="portrait"
            android:parentActivityName="com.REP.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.REP.Settings" />
        </activity>
        <activity
            android:name="com.REP.OSCSettings"
            android:label="@string/title_activity_oscsettings"
            android:screenOrientation="portrait"
            android:parentActivityName="com.REP.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.REP.Settings" />
        </activity>
        <activity
            android:name="com.REP.About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:parentActivityName="com.REP.faustApp" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.REP.faustApp" />
        </activity>
    </application>

</manifest>
